* {
    box-sizing: border-box;
    background-size: cover;
}
body {
    padding-bottom: 0%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 2em;
    margin-right: 2em;
}

.center{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
}
h1,h2{
	text-align: center;
}
